@import '../stylesheets/variables.scss';

.Login_Signup {
  flex-wrap: wrap;
  height: 100%;

  .acct-title {
    text-align: center;
    //margin-bottom: 15px;
    margin-top: auto;
    position: relative;
  }

  form {
    text-align: center;
  }

  input {
    margin-bottom: 10px;
    width: auto;
  }

  .buttons-footer {
    width: 70%;
    margin-bottom: auto;
  }

  //#region breakpoints
  @media only screen and ($breakpoint-xs) {

  }

  @media only screen and ($breakpoint-sm) {


  }

  @media only screen and ($breakpoint-md) {



  }

  @media only screen and ($breakpoint-lg) {


  }

  @media only screen and ($breakpoint-mac-min) and ($breakpoint-mac-max) {


  }

  @media only screen and ($breakpoint-xl) {

  }
  //#endregion
}
