@import "../../stylesheets/variables";

.GodMode {
  background: $polished-pine;
  position: relative;

  .img-panel {
    background-color: #f7d4d8;
    background-image: url("/images/scientist.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    padding: 0;
    border: none;

    &.evil {
      background-image: url("/images/evil.gif");
    }

    img {
      position: absolute;
      width: 400px;
      left: 70px;
      top: 70px;
    }
  }

  .text-panel {
    flex-wrap: wrap;
    text-align: right;

    .panel-title {
      color: #f7d4d8;
      padding-bottom: 20px;
      text-align: center;
    }

    .subtitle {
      color: $alice-blue;
      font-family: Sans Serif FLF DemiBold;
      //font-family: Sans Serif Book FLF;
    }
  }

  //#region breakpoints
  @media only screen and ($breakpoint-xs) {
  }

  @media only screen and ($breakpoint-sm) {
  }

  @media only screen and ($breakpoint-md) {
  }

  @media only screen and ($breakpoint-lg) {
  }

  @media only screen and ($breakpoint-mac-min) and ($breakpoint-mac-max) {
  }

  @media only screen and ($breakpoint-xl) {
  }
  //#endregion
}
