{
  "presets": [
	"meteor",
	"@babel/preset-env",
	"@babel/preset-react",
	"@babel/preset-typescript"
  ],
  "env": {
	"test": {
	  "plugins": [
		"@babel/plugin-transform-modules-commonjs",
		"@babel/plugin-transform-react-jsx"
	  ]
	}
  },
  "compilerOptions": {
	"emitDeclarationOnly": true,
	"isolatedModules": true
  },
  "extensions": ["ts", "tsx"],
  "stripExtensions": [".ts", ".tsx"],
  "plugins": [
	[
	  "module-resolver",
	  {
		"extensions": [
		  "ts", "tsx"
		],
		"stripExtensions": [".ts", ".tsx"],
		"root": [
		  "./"
		],
		"alias": {
		  "@api": "./imports/api",
		  "@api/*": "./imports/api/*",
		  "@component": "./imports/ui/components",
		  "@component/*": "./imports/ui/components/*",
		  "@hook": "./imports/ui/hooks",
		  "@hook/*": "./imports/ui/hooks/*",
		  "@page": "./imports/ui/pages",
		  "@page/*": "./imports/ui/pages/*",
		  "@style": "./imports/ui/stylesheets",
		  "@style/*": "./imports/ui/stylesheets/*",
		  "@constant": "./imports/utils/constants",
		  "@constant/*": "./imports/utils/constants/*",
		  "@helper": "./imports/utils/helpers",
		  "@helper/*": "./imports/utils/helpers/*",
		  "@model": "./imports/utils/models",
		  "@model/*": "./imports/utils/models/*",
		  "@enum": "./imports/utils/enums",
		  "@enum/*": "./imports/utils/enums/*",
		  "@type": "./imports/utils/types",
		  "@type/*": "./imports/utils/types/*"
		}
	  }
	]
  ]
}
