@import "../../../stylesheets/variables";

.SwipePanelContent {
  margin-bottom: 10px;

  .svg-inline--fa {
    color: $ming;
    width: 15px;
  }

  .icon-side {
    display: inline-block;
    vertical-align: middle;
    //width: 15%;
    width: 10%;
  }

  .info-side {
    display: inline-block;
    //width: 85%;
    width: 90%;
  }

  .plant-condition-icon {
    display: inline-block;

    &.fa-face-sad-tear {
      color: $danger-dark;
    }

    &.fa-face-meh {
      color: $danger-light;
    }

    &.fa-circle-question {
      color: $warning-dark;
    }

    &.fa-face-smile {
      color: $success-dark;
    }
  }

  .svg-inline--fa {
    color: $ming;
    width: 15px;
  }

  .injected-svg {
    fill: $ming;
    width: 20px;
    height: auto;
    margin-left: -4px;
  }

  &.top-align {
    .icon-side {
      vertical-align: top;
    }
  }
}

body.dark-theme .SwipePanelContent {
  p {
    color: $white;
  }

  .svg-inline--fa {
    color: $powder-blue;
  }

  .injected-svg {
    fill: $powder-blue;
  }
}
